<html>
<head>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- Styles -->
<link href="/application.css" rel="stylesheet">
</head>

<body>
<%= yield %>
</body>

</html>